---
import Bg2Img from "../assets/2acce189f87911a8c87dfd2d901ee667.jpg";
import Bg3Img from "../assets/486845143_1066288332211558_5488508584863595783_n.jpg";
import HasicumLogo from "../assets/LOGO-HASICUM-CLIPART.png";
import TechLogo from "../assets/Web-cerne-p6recnt5ajkbjb6fsnd46c6l95zm4yypifcrxa550w.jpg";
import Asclogo from "../assets/asclogo.png";
import HZSLogo from "../assets/hzs-logo.png";
import KruhIcon from "../assets/kruh.svg";
import CrestIcon from "../assets/crest.svg";
import ZnakImg from "../assets/znak.png";
import CrestImg from "../assets/crest.png";
import Mlogo from "../assets/mlogo.png";
import PozariLogo from "../assets/pozari-cz.png";
import CoatLogo from "../assets/Coat_of_arms_of_Zalužice.png";
import ThtLogoIcon from "../assets/tht-logo.svg";
import "../styles/global.css";
import BottomPanel from "./BottomPanel.astro";
import LinkWidget from "./LinkWidget.astro";
import PageHeader from "./PageHeader.astro";
import TopPanel from "./TopPanel.astro";
import TuchoriceErb from "../assets/Mask group (1).png";
---

<TopPanel />
<PageHeader imgSrc={Bg3Img.src} title="Odkazy" />

<div
  class="w-full bg-gray-100 px-4 py-20 pt-10 flex items-center relative flex-col border-t border-black/50"
>
  <div class="container">
    <div class="grid grid-cols-1 gap-8 md:grid-cols-4">
      <div class="prose col-span-2 md:col-span-3">
        <p class="mb-6 text-lg font-medium text-gray-800">
          Na této stránce najdete výběr odkazů na instituce a organizace, které
          souvisejí s
          <strong>požární ochranou</strong>, <strong>dodavatele techniky</strong
          > a <strong
            >další zdroje související s činností hasičského sboru</strong
          >.
        </p>
        <p class="mb-6 text-lg font-medium text-gray-800">
          <strong>Věříme</strong>, že vám pomohou najít <strong
            >potřebné informace</strong
          > nebo rozšířit povědomí o činnosti hasičů.
        </p>
      </div>
    </div>
    <div class="grid grid-cols-1">
      <div
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6"
      >
        <div
          class="bg-white shadow-sm rounded-xl flex flex-col gap-1 p-8 min-h-90"
        >
          <div class="flex items-center w-full h-20 justify-center">
            <img src={HZSLogo.src} class="h-full" />
          </div>
          <p class="text-gray-800 text-sm font-semibold mt-6">
            <strong>Hasičský záchranný sbor ČR</strong><br />
            — Státní bezpečnostní sbor, který chrání životy, zdraví obyvatel i majetek
            před požáry a poskytuje pomoc při mimořádných událostech. Vede krajské
            sbory a plní úkoly IZS, prevence i krizového řízení.
          </p>
          <a
            target="_blank"
            class="mt-auto text-sm italic text-red-800 font-bold hover:text-red-900 transition-colors"
            href="https://www.hzscr.cz">www.hzscr.cz</a
          >
        </div>
        <div
          class="bg-white shadow-sm rounded-xl flex flex-col gap-1 p-8 min-h-90"
        >
          <div class="flex items-center w-full h-20 justify-center">
            <div
              class="flex justify-center items-center p-1 bg-[#fa961e] rounded-full"
            >
              <img src={PozariLogo.src} class="h-full" />
            </div>
          </div>
          <p class="text-gray-800 text-sm font-semibold mt-6">
            <strong>POŽÁRY.cz</strong><br />
            — Portál <em class="italic">„ohnisko žhavých zpráv“</em> – přináší aktuální
            zásahy, novinky ze světa hasičů, články o technice, vzdělávání i prevenci.
          </p>
          <a
            target="_blank"
            class="mt-auto text-sm italic text-red-800 font-bold hover:text-red-900 transition-colors"
            href="https://www.pozary.cz">www.pozary.cz</a
          >
        </div>
        <div
          class="bg-white shadow-sm rounded-xl flex flex-col gap-1 p-8 min-h-90"
        >
          <div class="flex items-center w-full h-20 justify-center">
            <img src={Mlogo.src} class="h-full" />
          </div>
          <p class="text-gray-800 text-sm font-semibold mt-6">
            <strong>Sdružení hasičů Čech, Moravy a Slezska</strong><br />
            — Největší organizace dobrovolných hasičů v ČR – sdružuje sbory, organizuje
            soutěže a věnuje se práci s mládeží i prevenci.
          </p>
          <a
            target="_blank"
            class="mt-auto text-sm italic text-red-800 font-bold hover:text-red-900 transition-colors"
            href="https://www.dh.cz/">www.dh.cz</a
          >
        </div>

        <div
          class="bg-white shadow-sm rounded-xl flex flex-col gap-1 p-8 min-h-90"
        >
          <div class="flex items-center w-full h-20 justify-center">
            <img src={HasicumLogo.src} class="h-full" />
          </div>
          <p class="text-gray-800 text-sm font-semibold mt-6">
            <strong>Hasičům.cz</strong><br />
            — Svolávací systém pro dobrovolné hasiče – mobilní i staniční aplikace,
            SMS a GSM brána propojená s HZS ČR.
          </p>
          <a
            target="_blank"
            class="mt-auto text-sm italic text-red-800 font-bold hover:text-red-900 transition-colors"
            href="https:/www.hasicum.cz">www.hasicum.cz</a
          >
        </div>

        <LinkWidget url="www.technikaizs.cz">
          <div
            class="flex justify-center items-center p-1 bg-white rounded"
            slot="image"
          >
            <img src={TechLogo.src} class="h-full" />
          </div>

          <strong>TechnikaIZS.cz</strong><br />
          — Nejrozsáhlejší česká databáze fotografií techniky IZS — hasiči, záchranáři,
          policie, doplněné o články, reportáže a kalendář akcí.
        </LinkWidget>

        <LinkWidget url="www.zachranny-kruh.cz">
          <KruhIcon slot="image" class="h-full" />
          <strong>Záchranný kruh</strong><br />
          — Vzdělávací portál zaměřený na prevenci, bezpečnost a výuku dětí i dospělých
          v oblasti mimořádných událostí.
        </LinkWidget>

        <LinkWidget url="www.metodika.cahd.cz">
          <img slot="image" src={Asclogo.src} class="h-full" />

          <strong>Metodika.cahd.cz</strong><br />
          — Souhrn aktuálních metodických předpisů (bojový řád, cvičební řád, konspekty,
          odborná příprava pro jednotky SDH) od České asociace hasičských důstojníků.
        </LinkWidget>

        <LinkWidget url="www.tht.cz">
          <ThtLogoIcon class="w-full" slot="image" class="h-full" />

          <strong>THT Polička, s.r.o.</strong><br />
          — Výrobce hasičských vozidel, speciální techniky, kontejnerů a příslušenství
          s historií sahající až do roku 1899. Spolehlivý partner pro modernizaci
          vybavení.
        </LinkWidget>
        <LinkWidget url="www.tuchorice.cz">
          <img
            src={TuchoriceErb.src}
            class="h-full"
            slot="image"
            class="h-full"
          />

          <strong>Obec Tuchořice</strong><br />
          — Portál obce s aktuálními informacemi: úřední deska, kalendář akcí, zpravodaj,
          kontakty a veřejné služby.
        </LinkWidget>
        <LinkWidget url="www.libesice-obec.cz">
          <CrestIcon class="h-full" slot="image" class="h-full" />

          <strong>Obec Liběšice</strong><br />
          — Úřední informace, kontakty, aktuální dění, úřední deska i kalendář akcí
          obce.
        </LinkWidget>
        <LinkWidget url="www.ou-lipno-louny.cz">
          <img src={CrestImg.src} class="h-full" slot="image" class="h-full" />

          <strong>Obec Lipno</strong><br />
          — Aktuální obecní informace: úřední deska, akcí kalendář, zpravodaj a kontakty
          obecního úřadu.
        </LinkWidget>
        <LinkWidget url="www.destnice.cz">
          <img src={ZnakImg.src} class="h-full" slot="image" class="h-full" />

          <strong>Obec Deštnice</strong><br />
          — Oficiální stránky obce Deštnice: úřední deska, aktuality, kontakty, historie
          a obecní dokumenty.
        </LinkWidget>
        <LinkWidget url="www.zaluzice.cz">
          <img src={CoatLogo.src} class="h-full" slot="image" class="h-full" />

          <strong>Obec Žaluzice</strong><br />
          — Oficiální stránky obce Žaluzice: úřední deska, aktuality, dokumenty, kontakty
          a informace o životě v obci.
        </LinkWidget>
      </div>
    </div>
  </div>
  <img
    src={Bg2Img.src}
    class="select-none absolute pointer-events-none left-0 bottom-0 top-0 h-full opacity-10"
    style="
    object-fit: cover;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 1.0) 50%, transparent 100%);
    "
  />
</div>

<BottomPanel />
