---
import CallIcon from "../assets/call-02-stroke-rounded.svg";
import StationIcon from "../assets/house-01-stroke-rounded.svg";
import ArrowIcon from "../assets/arrow-down-double-stroke-rounded.svg";
import TeamIcon from "../assets/user-group-stroke-rounded.svg";
import HeartIcon from "../assets/favourite-stroke-rounded.svg";
import FacebookIcon from "../assets/facebook-02-stroke-rounded.svg";
import YoutubeIcon from "../assets/youtube-stroke-rounded.svg";
import MailIcon from "../assets/mail-01-stroke-rounded.svg";
import LocationIcon from "../assets/location-03-stroke-rounded.svg";
import PlaceholderIcon from "../assets/image-02-stroke-rounded.svg";
import FireIcon from "../assets/fire-stroke-rounded.svg";
import HandShakeIcon from "../assets/agreement-02-stroke-rounded.svg";
import BulbIcon from "../assets/bulb-stroke-rounded.svg";
import BookIcon from "../assets/book-02-stroke-rounded.svg";
import BgImg from "../assets/9205cb9b7ee784916e5d2fb8ea955071.jpg";
import Bg2Img from "../assets/2acce189f87911a8c87dfd2d901ee667.jpg";
import Bg3Img from "../assets/530260744_1173567348150322_1018248472722609602_n.jpg";
import LogoImg from "../assets/logo-no-text.png";

import "../styles/global.css";
---

<div class="fixed z-50 t-0 l-0 w-full">
  <div
    class="bg-white/60 shadow backdrop-blur w-full px-4 py-1 flex items-center flex-col border-b border-black/25"
  >
    <div class="container grid lg:grid-cols-2">
      <div class="flex flex-row gap-4">
        <img src={LogoImg.src} class="w-20" />
        <h1
          class="flex flex-col justify-center text-red-800 font-bold text-3xl"
        >
          Hasiči Tuchořice
          <small class="text-gray-800 text-sm font-medium"
            >Pohotovostní služba</small
          >
        </h1>
      </div>
      <div
        class="flex flex-row justify-center lg:justify-end items-center min-h-15"
      >
        <ul class="list-none m-0 p-0 flex flex-row gap-8 text-gray-800">
          <li class="p-0 m-0">
            <a
              class="cursor-pointer text-nowrap font-semibold hover:text-orange-600 transition-colors group"
              >O nás</a
            >
          </li>
          <li class="p-0 m-0">
            <a
              class="cursor-pointer text-nowrap font-semibold hover:text-orange-600 transition-colors group"
              >Akce</a
            >
          </li>
          <li class="p-0 m-0">
            <a
              class="cursor-pointer text-nowrap font-semibold hover:text-orange-600 transition-colors group"
              >Naše historie</a
            >
          </li>

          <li class="p-0 m-0">
            <a
              class="cursor-pointer text-nowrap font-semibold hover:text-orange-600 transition-colors group"
              >Technika</a
            >
          </li>
          <li class="p-0 m-0">
            <a
              class="cursor-pointer text-nowrap font-semibold text-white transition-colors group bg-orange-600 px-6 py-2 rounded-2xl"
              >Přidej se k nám</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="w-full min-h-screen">
  <img class="object-cover h-full w-full absolute" src={Bg3Img.src} />
  <div class="h-full w-full absolute bg-black/50"></div>
  <div
    class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-full flex flex-col items-center"
  >
    <div
      class="container mx-auto max-w-250 text-center items-center justify-center flex flex-col"
    >
      <img src={LogoImg.src} class="w-50 mb-4" />
      <h2
        class="flex flex-col justify-center text-white font-bold text-3xl mb-8"
      >
        Hasiči Tuchořice
      </h2>
      <h1
        class="text-balance text-7xl font-extrabold text-white mb-6 text-shadow-xs"
      >
        Chránime vaše životy, <span
          class="bg-gradient-to-l from-orange-600 to-orange-700 text-transparent bg-clip-text"
        >
          zdraví a majetek</span
        >
      </h1>
      <p
        class="text-balance text-2xl text-white font-light text-shadow-xs tracking-wide italic"
      >
        "Oddaní dobrovolní hasiči sloužící s odvahou, soucitem a odhodláním od
        prvního dne."
      </p>
    </div>
  </div>
  <div class="absolute bottom-0 w-full flex flex-col items-center">
    <div class="container">
      <div class="p-6 flex items-center flex-col w-full">
        <!-- <span class="font-semibold text-black mb-6">Prejdite nadol</span> -->
        <ArrowIcon class="text-white w-8 h-8 animate-bounce" />
      </div>
    </div>
  </div>
</div>

<div
  class="w-full bg-gray-100 px-4 py-20 flex items-center relative flex-col border-t border-black/50"
>
  <div class="container">
    <div class="grid grid-cols-1 gap-8 xl:items-end md:grid-cols-2">
      <div>
        <h2 class="text-gray-800 font-bold text-5xl mb-8 md:text-balance">
          <span class="text-red-800">S hrdostí a odhodláním</span> pomáhame občanům
        </h2>
        <p class="md:text-balance mb-6 text-lg text-gray-800">
          Náš sbor dobrovolných hasičů je už více než dvě desetiletí oporou při
          mimořádných událostech v naší obci. Jsme obyčejní lidé, kteří přijali
          mimořádné poslání – chránit a pomáhat svým sousedům.
        </p>
        <p class="md:text-balance mb-6 text-lg text-gray-800">
          Od hašení požárů a záchranných zásahů až po osvětu a preventivní
          programy se naši členové pravidelně školí, aby byli vždy připraveni,
          když povinnost zavolá.
        </p>

        <div class="grid grid-cols-2 gap-8">
          <div
            class="bg-white shadow-sm rounded-xl p-8 text-center flex flex-col gap-1"
          >
            <strong class="text-red-800 text-3xl">25+</strong>
            <span class="text-gray-800 text-sm font-semibold"
              >Aktivních dobrovolníků</span
            >
          </div>
          <div
            class="bg-white shadow-sm rounded-xl p-8 text-center flex flex-col gap-1"
          >
            <strong class="text-red-800 text-3xl">70+</strong>
            <span class="text-gray-800 text-sm font-semibold"
              >Tísňových výjezdů ročně</span
            >
          </div>
          <div
            class="bg-white shadow-sm rounded-xl p-8 text-center flex flex-col gap-1"
          >
            <strong class="text-red-800 text-3xl">23</strong>
            <span class="text-gray-800 text-sm font-semibold"
              >Let pomoci komunitě</span
            >
          </div>
          <div
            class="bg-white shadow-sm rounded-xl p-8 text-center flex flex-col gap-1"
          >
            <strong class="text-red-800 text-3xl">5000+</strong>
            <span class="text-gray-800 text-sm font-semibold"
              >Občanů, kterým jsme pomohli</span
            >
          </div>
        </div>
      </div>
      <div class="flex gap-6 flex-col">
        <div class="bg-white shadow-sm rounded-xl py-6 p-8 flex flex-col gap-1">
          <h5 class="text-red-800 text-2xl font-bold flex items-center gap-3">
            <FireIcon class="text-red-800" /> Zásahová činnost
          </h5>
          <p class="text-gray-800 text-sm font-semibold">
            Jsme připraveni 24/7 k výjezdům – od hašení požárů přes záchranné
            práce až po poskytování první pomoci v celém našem zásahovém obvodu.
          </p>
        </div>
        <div class="bg-white shadow-sm rounded-xl py-6 p-8 flex flex-col gap-1">
          <h5 class="text-red-800 text-2xl font-bold flex items-center gap-3">
            <BookIcon class="text-red-800" />Výcvik dobrovolníků
          </h5>
          <p class="text-gray-800 text-sm font-semibold">
            Naši členové se neustále školí a získávají nové certifikace, abychom
            vždy udrželi nejvyšší standard bezpečnosti a efektivity.
          </p>
        </div>
        <div class="bg-white shadow-sm rounded-xl py-6 p-8 flex flex-col gap-1">
          <h5 class="text-red-800 text-2xl font-bold flex items-center gap-3">
            <BulbIcon class="text-red-800" />Osvěta a prevence
          </h5>
          <p class="text-gray-800 text-sm font-semibold">
            Pořádáme programy požární ochrany, navštěvujeme školy a vedeme
            kampaně, které mají za cíl předcházet mimořádným událostem dříve,
            než nastanou.
          </p>
        </div>
        <div class="bg-white shadow-sm rounded-xl py-6 p-8 flex flex-col gap-1">
          <h5 class="text-red-800 text-2xl font-bold flex items-center gap-3">
            <HandShakeIcon class="text-red-800" />Spolupráce s obcí a okolím
          </h5>
          <p class="text-gray-800 text-sm font-semibold">
            Úzce spolupracujeme se sousedními obcemi, spolky a organizacemi.
            Podílíme se na kulturních a společenských akcích a jsme vždy tam,
            kde je potřeba pomoc.
          </p>
        </div>
      </div>
    </div>
  </div>
  <img
    src={Bg2Img.src}
    class="select-none absolute pointer-events-none left-0 bottom-0 top-0 h-full opacity-20"
    style="
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 1.0) 50%, transparent 100%);
    "
  />
</div>
<!-- A -->
<div
  class="w-full px-4 py-20 flex items-center flex-col relative border-t border-gray-200"
>
  <div class="container">
    <section class="mx-auto text-center mb-16">
      <h3 class="text-gray-800 font-bold text-4xl mb-8">
        Naše akce a aktivity
      </h3>

      <p class="text-balance text-gray-500 text-xl mx-auto w-[85%]">
        Objevte, jak naši dobrovolní hasiči aktivně slouží a zapojují se do
        komunity prostřednictvím školení, vzdělávání a osvětových programů.
      </p>
    </section>
    <div class="grid gap-8 sm:grid-cols-2 md:grid-cols-3 w-full">
      {
        [1, 2, 3, 4, 5, 6].map((i) => (
          <div class="border-gray-200 border-1 bg-gray-100 shadow-sm rounded-xl group cursor-pointer">
            <div class="mx-auto flex flex-col">
              <div class="bg-gray-200 w-full min-h-[200px] max-h-[200px] overflow-hidden rounded-t-xl relative">
                <span class="absolute top-3 z-20 text-white left-3 bg-gradient-to-l from-orange-600 to-orange-700 px-3 py-1 rounded-full text-sm font-semibold">
                  Trenink
                </span>
                <img
                  class="w-full relative z-10 transition-transform duration-300 transform group-hover:scale-110"
                  src={`https://picsum.photos/seed/${i}/400/200`}
                />
                <PlaceholderIcon class="text-gray-300 w-12 h-12 absolute inset-0 m-auto" />
              </div>
              <div class="p-6 prose">
                <h4 class="text-gray-800 text-xl group-hover:text-red-800">
                  Tréninkové cvičení
                </h4>
                <small class="text-sm">Březen 4, 2025</small>
                <p class="text-gray-800 font-light mt-1 leading-normal">
                  Měsíční školení zaměřené na pokročilé záchranné techniky a
                  práci s vybavením
                </p>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</div>
<!-- B -->
<div class="relative overflow-hidden">
  <div class="w-full bg-gray-800 px-4 py-20 flex items-center flex-col">
    <div class="container">
      <section class="mx-auto text-center mb-16">
        <h3 class="text-white font-bold text-4xl mb-8">Kontaktujte nás</h3>

        <p class="text-balance text-zinc-50 text-xl w-[85%] mx-auto">
          Ať už potřebujete pohotovostní pomoc, chcete se přihlásit jako
          dobrovolník, nebo máte otázky ohledně našich služeb, jsme tu, abychom
          vám pomohli.
        </p>
      </section>
      <div class="grid gap-8 w-full sm:grid-cols-2 md:grid-cols-3">
        <div
          class="border-red-900 border-1 bg-red-800 shadow-sm rounded-xl text-white p-6"
        >
          <div
            class="mx-auto flex flex-col items-center text-center prose prose-h4:text-2xl"
          >
            <div
              class="aspect-square w-20 rounded-full bg-white not-prose flex items-center justify-center"
            >
              <CallIcon class="w-12 h-12 m-0 text-red-800" />
            </div>
            <h4 class="text-white mt-6">Pohotovost</h4>

            <p class="text-zinc-50 font-light leading-normal">
              V případě požáru, zdravotní nebo záchranné nouze
            </p>

            <a
              href="tel:+420725700074"
              class="cursor-pointer no-underline rounded-xl bg-white text-red-900 font-bold text-xl px-8 py-2 text-center"
            >
              Volej 150
            </a>
          </div>
        </div>
        <div
          class="border-neutral-600 border-1 bg-neutral-800 shadow-sm rounded-xl text-white p-6"
        >
          <div
            class="mx-auto flex flex-col items-center text-center prose prose-h4:text-2xl"
          >
            <div
              class="aspect-square w-20 rounded-full bg-white not-prose flex items-center justify-center"
            >
              <StationIcon class="w-12 h-12 m-0 text-neutral-800" />
            </div>
            <h4 class="text-white mt-6">Hasičská stanice</h4>

            <p class="text-zinc-50 font-light leading-normal">
              Tuchořice 30 43969,<br />
              Česká Republika
            </p>

            <a
              href="tel:+420725700074"
              class="cursor-pointer no-underline rounded-xl bg-white text-neutral-800 font-bold text-xl px-8 py-2 text-center"
            >
              +420 725 700 074
            </a>
          </div>
        </div>
        <div
          class="border-orange-700 border-1 bg-orange-600 shadow-sm rounded-xl text-white p-6"
        >
          <div
            class="mx-auto flex flex-col items-center text-center prose prose-h4:text-2xl"
          >
            <div
              class="aspect-square w-20 rounded-full bg-white not-prose flex items-center justify-center"
            >
              <TeamIcon class="w-12 h-12 m-0 text-orange-600" />
            </div>
            <h4 class="text-white mt-6">Dobrovolník</h4>

            <p class="text-zinc-50 font-light leading-normal">
              Přidej se k našemu týmu a udělej změnu a pomoz měnit věci k
              lepšímu
            </p>

            <button
              class="cursor-pointer rounded-xl bg-white text-orange-600 font-bold text-xl px-8 py-2 text-center"
            >
              Zjisti více
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer
    class="w-full bg-gray-900 px-4 py-15 flex items-center flex-col text-white border-t border-t-zinc-700"
  >
    <div class="container">
      <div class="grid sm:grid-cols-2 gap-8 md:grid-cols-3 mb-6 ">
        <div class="mb-6">
          <h5 class="text-orange-600 font-bold text-xl mb-4">SDH Tuchořice</h5>
          <ul class="list-none m-0 p-0 flex flex-col gap-2">
            <li
              class="p-0 m-0 text-zinc-200 font-light flex flex-row gap-2 items-center text-sm"
            >
              <LocationIcon class="text-zinc-200 w-4.5" /> Tuchořice 30 43969, Česká
              Republika
            </li>
            <li
              class="p-0 m-0 text-zinc-200 font-light flex flex-row gap-2 items-center text-sm text-wrap"
            >
              <CallIcon class="text-zinc-200 w-4.5" /> Tísňové volání: 150 nebo 112
              | Stanice: +420 725 700 074
            </li>
            <li
              class="p-0 m-0 text-zinc-200 font-light flex flex-row gap-2 items-center text-sm text-wrap"
            >
              <MailIcon class="text-zinc-200 w-4.5" /> hasicituchorice@post.cz
            </li>
          </ul>
        </div>
        <div>
          <h5 class="text-orange-600 font-bold text-xl mb-4">Rychlé odkazy</h5>

          <ul class="list-none m-0 p-0 flex flex-col gap-2 text-zinc-200">
            <li class="p-0 m-0">
              <a
                class="cursor-pointer font-light hover:text-orange-600 transition-colors group"
                >O nás</a
              >
            </li>
            <li class="p-0 m-0">
              <a
                class="cursor-pointer font-light hover:text-orange-600 transition-colors group"
                >Akce</a
              >
            </li>
            <li class="p-0 m-0">
              <a
                class="cursor-pointer font-light hover:text-orange-600 transition-colors group"
                >Naše historie</a
              >
            </li>
            <li class="p-0 m-0">
              <a
                class="cursor-pointer font-light hover:text-orange-600 transition-colors group"
                >Přidej se k nám</a
              >
            </li>
          </ul>
        </div>
        <div>
          <h5 class="text-orange-600 font-bold text-xl mb-4">
            Buďte s nami v obraze
          </h5>
          <ul class="list-none m-0 p-0 flex flex-row gap-4 mb-4">
            <li class="p-0 m-0">
              <a
                class="shadow-sm flex items-center w-10 justify-center rounded-full cursor-pointer hover:bg-orange-600 transition-colors group p-2 aspect-square"
                ><FacebookIcon
                  class="text-zinc-200 group-hover:text-gray-900 transition-colors"
                /></a
              >
            </li>
            <li class="p-0 m-0">
              <a
                class="shadow-sm flex items-center w-10 justify-center rounded-full cursor-pointer hover:bg-orange-600 transition-colors group p-2 aspect-square"
                ><YoutubeIcon
                  class="text-zinc-200 group-hover:text-gray-900 transition-colors"
                /></a
              >
            </li>
          </ul>
          <p class="text-zinc-200 font-light leading-normal text-sm">
            Zůstaňte ve spojení pro nouzové informace, oznámení o akcích a
            novinky z komunity.
          </p>
        </div>
      </div>
      <div class="text-center">
        <hr class="w-full mb-6 border-neutral-600" />
        <span class="text-zinc-200 font-light text-sm">
          © 2026 Sbor dobrovolných hasičů Tuchořice. Všechna práva vyhrazena.<br
          />
          <strong class="font-semibold flex items-center justify-center gap-2 ">
            <HeartIcon class="text-red-900 fill-red-700" />S hrdostí sloužíme
            naší komunitě od roku 2003
          </strong>
        </span>
      </div>
    </div>

    <img
      src={BgImg.src}
      class="select-none"
      style="position: absolute;
    pointer-events: none;
    right: 0;
    bottom: 0;
    top:0;
    mix-blend-mode: lighten;
    mask-image: linear-gradient(to left, rgba(0, 0, 0, 1.0) 50%, transparent 100%);
    opacity: 30%;
}"
    />
  </footer>
</div>
